; comments are marked with semicolons and completely ignored.

; this is the defaults section. Right now it only holds the number of subjects to use, but it may have more later.
[defaults]

; the number of subjects to use
num_subjects = 2

; this section holds a graph of the subjects. the items in each subject (separated by commas)
; are the things each subject is related to, and are likely to show up together
[subjects]

thing1 : thing2,thing3
thing2 : thing1
thing3 : thing1,thing2

; this section holds the phrases that can be said. The items are separated by category and individual entries in the
; category are separated by line breaks, and all after the first are indented.
[phrases]

; all files must have 'starters'. These are used first and then filled in with other parts.
; replacements are filled inside of {curly braces}. Subjects are indicated by {!}.
starter :  This is a phrase.
    This is a phrase with a subject in it. The subject is {!}.
    This is a phrase with another phrase in it. {starter}
    This is a phrase with text from another section. {section}

section : This text is from another section.