[defaults]

; the number of subjects to use
num_subjects = 3
;only two subjects for Trump's simple style

; this section holds a graph of the subjects.
[subjects]

;nuclear, kim, china, nk cluster
nuclear:North Korea,Kim Jong Un,Russia
North Korea:China,Kim Jong Un,nuclear,Russia
Kim Jong Un:North Korea,nuclear
China:North Korea,trade,Russia,Climate change

;trade/the un/etc
trade:the UN,China,NAFTA,taxes,Russia
the UN:trade,NAFTA,Russia,Climate change
NAFTA:trade

;Russia
Russia:Putin,trade,North Korea
Putin:leaders,Russia,North Korea

;obama
Obama:President O,trade,taxes,North Korea,China,Climate change
President O:Obama

;taxes
taxes:Obama,trade,debt
debt:taxes,trade

;other stuff
leaders:Obama,Putin,Kim Jong Un
Climate change:China,the UN,fake news
fake news:CNN,Climate change
CNN:fake news

; this section holds the phrases that can be said.
[phrases]

starter : {tweet} {maybe_hashtag}
    {tweet}

maybe_sad : none
    {sad}

sad : - SAD.
      Sad.

tweet : {body} {maybe_sad}
    {body}{punctuation} {maybe_sad}
    {body}{hashtag}{punctuation} {body} {maybe_sad}
    {body}{punctuation} {hashtag}
    {body}, {body}...

body : {yuge} problem with {!}. {maybe_sad} Believe me, {i_know_best}.
    {i_know_best}. {!} is going to be {yuge}.
    {!} is {present_participle} {maybe_badly}{time_period}.
    {leader} is {present_participle} {badly}.
    {leader} doing {badly}. {sad} {i_know_best}.
    {!} is a {yuge} problem for {leader} {time_period}.

leader : Putin
    Obama
    Kim Jong Un

time_period : right now
    all the time
    for years
    for too long

maybe_badly: none
    {badly}

badly: horribly
    tremendously bad
    terribly

i_know_best : nobody knows more about {!} than me
    I know more about {!} than anyone else
    people tell me I'm great with {!}

yuge : Huge
    Tremendous
    Big
    Great
    Hugest

yugely : Hugely
    Bigly
    Greatly
    Tremendously

punctuation : .
    !
    ....
;,etc....

maybe_hashtag: none
    {hashtag}

hashtag : {fake_news}
    {maga}

fake_news: #FakeNews
    - Fake news

maga : #MAGA
    Make america great again

present_participle: ruining {!}
    beating {!}
    killing {!}
    hating {!}
    believing
    playing
    losing